:root {
	--clr-color_1: #f7e00a;
	--clr-color_2: #212121;
	--clr-color_3: #BF7497;
	--clr-color_4: #888;
	--clr-color_5: currentColor;
	--clr-color_6: yellow;
	--clr-color_7: #fafd0f;
	--clr-color_8: white;
	--clr-color_9: black;
	--ff-font_1: "Roboto Condensed", sans-serif;
	--ff-font_2: "Encode Sans Condensed", sans-serif;
	--background_1: #1c1f26;
	--background_2: #f7e00a;
	--background_3: #000;
	--background_4: yellow;
	--background_5: #77b5fe;
	--background_6: #fafd0f;
	--background_7: #fff;
	--background_8: #03a9f4;
	--background_9: lightgrey;
	--background_10: #ececec;
	--background_11: black;
}
.darkmode {
	--clr-color_1: #212121;
	--clr-color_2: #f7e00a;
	--clr-color_9: white;
	--background_3: #f7e00a;
	--background_9: #1c1f26;
	--background_7: #1c1f26;
	--background_10: #1c1f30;
	--background_11: black;
}
.trollmode {
	--clr-color_1: white;
}
* {
	outline: 1px solid limegreen !important;
	font-family: var(--ff-font_1);
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
	background-color: var(--background_7);
	width: 100%;
	height: 115px;
}
.nav {
	align-items: center;
	display: flex;
	justify-content: center;
	a {
		text-align: center;
		text-decoration: none;
		color: var(--clr-color_2);
		width: 200px;
		font-size: 20px;
	}
	h2 {
		height: 30px;
		font-size: 20px;
		position: relative;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
		font-weight: lighter;
		text-align: center;
		&::before {
			content: "";
			width: 100%;
			position: absolute;
			height: 4px;
			margin-top: 10px;
			border-radius: 4px;
			background-color: var(--background_3);
			bottom: 0;
			left: 0;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform 0.3s ease-in-out;
		}
		&:hover {
			&::before {
				transform-origin: left;
				transform: scaleX(1);
			}
		}
	}
}
#logo {
	width: 90px;
	height: 85px;
	background-size: cover;
}
.other {
	padding-top: 5px;
	font-size: large;
	color: var(--clr-color_2);
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
}
.icons {
	padding-top: 50%;
	padding-right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
}
.test {
	color: var(--clr-color_9);
	text-align: center;
}
.help {
	text-align: center;
	padding-right: 100px;
	padding-top: 26px;
	width: 248.05px;
	float: left;
}
details {
	align-items: center;
	margin: 0 auto;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	float: right;
}
.ham {
	color: var--(clr-color_1);
	display: flex;
	padding-right: 100px;
	padding-top: 21px;
	float: right;
}
.user {
	color: var(--clr-color_2);
	cursor: pointer;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.cart {
	color: var(--clr-color_2);
	cursor: pointer;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.img {
	
	width: 30px;
	height: 30px;
	
}
.gear {
	p {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		color: var(--clr-color_2);
		text-align: center;
	}
}
strong {
	font-weight: 600;
}
main {
	padding: 70px 20px 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	>div {
		margin: auto;
		max-width: 600px;
	}
	p {
		line-height: 1.5;
		font-weight: 200;
		margin: 20px 0;
	}
	small {
		font-weight: 300;
		color: var(--clr-color_4);
	}
}
#nav-container {
	position: fixed;
	height: 100vh;
	width: 100%;
	pointer-events: none;
	.bg {
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		height: calc(100% - 70px);
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
		background: #000;
	}
	* {
		visibility: visible;
	}
	&:focus-within {
		.button {
			pointer-events: none;
		}
		.icon-bar {
			&:nth-of-type(1) {
				transform: translate3d(0, 8px, 0) rotate(45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: translate3d(0, -8px, 0) rotate(-45deg);
			}
		}
		#nav-content {
			transform: none;
		}
		#nav-troll {
			transform: none;
		}
	}
}
.button {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	-webkit-appearance: none;
	border: 0;
	background: transparent;
	border-radius: 0;
	height: 70px;
	width: 30px;
	cursor: pointer;
	pointer-events: auto;
	margin-left: 25px;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding-bottom: 20px;
	margin-left: 100px;
	p {
		padding-top: 5px;
		cursor: pointer;
		text-align: center;
	}
}
.column {
	p {
		cursor: pointer;
	}
}
.icon-bar {
	display: block;
	width: 100%;
	height: 3px;
	background: #aaa;
	transition: 0.3s;
	+ {
		.icon-bar {
			margin-top: 5px;
		}
	}
}
#nav-content, #nav-troll {
	margin-top: 63px;
	padding: 20px;
	width: 100%;
	max-width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	background-color: var(--background_10);
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: transform 0.3s;
	will-change: transform;
	contain: paint;
	ul {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	li {
		a {
			padding: 10px 5px;
			display: block;
			text-transform: uppercase;
			transition: color 0.1s;
			&:hover {
				color: var(--clr-color_3);
			}
		}
		&:not(.small) {
			+ {
				.small {
					margin-top: auto;
				}
			}
		}
	}
	h2 {
		padding-top: 30px;
		font-size: 20px;
	}
	span {
		border-top: 5px solid var(--clr-color_9);
		padding-top: 20px;
	}
}
.small {
	display: flex;
	align-self: center;
	a {
		font-size: 12px;
		font-weight: 400;
		color: var(--clr-color_4);
		+ {
			a {
				margin-left: 15px;
			}
		}
	}
}
html {
	background-color: var(--background_11);
	height: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
}
a {
	text-decoration: none;
	outline: 0;
	color: var(--clr-color_5);
	transition: 0.2s ease-in-out;
	&:visited {
		text-decoration: none;
		outline: 0;
	}
	&:focus {
		text-decoration: none;
		outline: 0;
	}
	&:active {
		text-decoration: none;
		outline: 0;
	}
	&:link {
		text-decoration: none;
		outline: 0;
	}
}
ul {
	padding: 0;
	list-style: none;
}
.skull {
	margin: 0 auto;
	display: flex;
	width: 125px;
	height: 100px;
}
#nextpage {
	width: 100%;
	height: calc(100vh - 115px);
	background-color: var(--background_9);
}
.normal {
	background-color: var(--background_10);
	transition: none;
	position: relative;
	overflow: hidden;
	z-index: 99 !important;
}
.sticky {
	background-color: var(--background_10);
	position: fixed;
	top: 0;
	z-index: 99 !important;
	width: 100%;
}
.sticky+.content {
	padding-top: 60%;
}
#troll {
	color: var(--clr-color_9);
	margin-top: 50px;
	font-size: small;
	cursor: pointer;
	opacity: 0.7;
	&:hover {
		opacity: 1;
		text-decoration: underline;
	}
}
#nav-content, #nav-troll h1 {
	color: var(--clr-color_9);
}
#nav-content, #nav-troll h2 {
	color: var(--clr-color_9);
}
.btn-group {
	margin: 2em 0;
	display: relative;
}
.btn {
	padding: 1em 2em;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	line-height: 1;
}
.btn+.btn {
	margin-left: 1em;
}
.btn-secondary {
	background: var(--foreground);
	color: var(--background);
}
.btn-accent {
	background: var(--clr-accent);
	color: var(--foreground);
}
.btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: var(--foreground) 2px solid;
	left: -4px;
	top: 4px;
	border-radius: inherit;
	z-index: -1;
}
.intro {
	height: 80vh;
	padding: 10em 0;
	display: grid;
	grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
	background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
	align-content: center;
}
.intro>* {
	grid-column: 2 / 3;
}
.dark-mode-toggle {
	margin-top: 30px;
	z-index: 100;
	top: 1em;
	right: 1em;
	color: var(--foreground);
	border: 2px solid var(--clr-color_9);
	padding: 4px;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 30px;
	height: 30px;
}
#nav-content, #nav-troll h4 {
	color: var(--clr-color_9);
}
#dark {
	display: none;
}
#light {
	display: none;
}
#troll-mode-toggle {
	display: flex;
	margin: 0 auto;
	z-index: 100;
	top: 1em;
	right: 1em;
	transition: transform 0.3s ease-in-out;
	padding-top: 0px;
	color: var(--foreground);
	border: 2px solid var(--clr-color_9);
	padding: 4px;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	display: none;
}
#troll-text {
	font-weight: bolder;
	margin-top: 30px;
	margin-bottom: 40px;
	transition: transform 0.3s ease-in-out;
	color: var(--clr-color_9);
	display: none;
	font-size: large;
}
#mode-text span {
	padding-top: 20px;
	display: initial;
}
#actual-mode {
	padding-top: 20px;
	display: inherit;
}
#slidy-container {
	padding-top: 20vh;
	width: 70%;
	overflow: hidden;
	margin: 0 auto;
}
#nextpage-2 {
	width: 100%;
	height: 100vh;
	background-color: var(--background_9);
}
.ss-container img {
	width: 1200px;
	height: 600px;
}
#slide {
	width: 96%;
}
* {
	box-sizing: border-box
}
.mySlides {
	display: none
}
.slideshow-container {
	width: auto;
	position: relative;
	margin: -10px;
}

.prev, .next {
	cursor: pointer;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #494B55;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.prev {
	float: left;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #494B55;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}
.pics {
	border: 3px solid #494B55;
	width: 200px;
}
.ss-container {
	padding-top: 130px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes trollrgb {
	0% {
		background-color: red;
	}
	100% {
		background-color: red;
	}
} 

/* 	0% {
		background-color: white;
	}
	10% {
		background-color: aqua;
	}
	20% {
		background-color: blue;
	}
	30% {
		background-color: violet;
	}
	40% {
		background-color: red;
	}
	50% {
		background-color: greenyellow;
	}
	60% {
		background-color: yellow;
	}
	70% {
		background-color: orange;
	}
	80% {
		background-color: purple;
	}
	90% {
		background-color: paleturquoise;
	}
	100% {
		background-color: black;
	}

POPRAWIC TROLLMODE PRZY ODSWIEZANIU 

	*/